* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.outer-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    padding: 5rem 10rem;
}

.inner-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inner-div:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 1px solid black;
    margin-bottom: 10px;
}

.view-btn{
    color: white;
}

.view-btn:hover{
    color: black;
    cursor: pointer;
}